<div class="md:flex mt-3 px-4">
  <div class="md:w-1/3">
    <%= form.label "Distinguashed Names of LDAP groups", class: "block text-gray-600 uppercase text-xs font-semibold mb-2 w-full" %>
  </div>
  <div class="md:w-2/3 w-full">
    <% if @role.new_record? %>
      <%= form.select 'autoapproval_workflow_properties][list1', [], {include_hidden: false}, 
                    { multiple: true, data: {controller: 'slim', slim_options: { addable: true, placeholderText: '' }.to_json}} %>
    <% else %>
      <%= form.select 'autoapproval_workflow_properties][list1', options_for_select(Array(@role.autoapproval_workflow_properties["list1"]), @role.autoapproval_workflow_properties["list1"]), {include_hidden: false}, 
                    { multiple: true, data: {controller: 'slim', slim_options: { addable: true, placeholderText: '' }.to_json}} %>
    <% end %>
    <p class="py-2 text-xs text-yellow-700"><%= workflow&.description %></p>
  </div>
</div>