<div class="px-4 py-2 font-semibold col-span-1">LDAP groups</div>

<% if @role[:autoapproval_workflow_properties]['list1'].blank? %>
  <div class="px-4 py-2 col-span-2 text-red-700">no groups</div>
<% else %>
  <div class="px-4 py-2 col-span-2"><%= @role[:autoapproval_workflow_properties]['list1'].join(", ") %></div>
<% end %>