<div class="px-4 py-2 font-semibold col-span-1">Managers list</div>
<% if @role[:autoapproval_workflow_properties]['list1'].blank? %>
  <div class="px-4 py-2 col-span-2 text-red-700">no managers</div>
<% else %>
  <div class="px-4 py-2 col-span-2"><%= User.find(@role[:autoapproval_workflow_properties]['list1']).map(&:displayname).join(", ") %></div>
<% end %>